*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

html, body{
    height: 100%;
}

:root{
    --header : 5.6rem;
    --footer : 3.3rem;
    --content : calc(100% - var(--header) - var(--footer))
}

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header{
    height: var(--header);
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px 10px 10px;
}

.header .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
}

.header img{
    max-width: 5rem;
    max-height: 5rem;
}

.header button{
    height: 3rem;
    width: 8rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
}

.header button:hover{
    background-color: rgb(240, 239, 239);
}

.content{
    height: var(--content);
    background-color: #eee;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: auto;
}

.exit, .exit img{
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    background-color: white;
    top: 0px;
    right: 0px;
    border: none;
    padding: 5px;
    /* color: white;
    font-size: 16px;
    font-weight: bold; */
    cursor: pointer;
}


.content form{
    position: absolute;
    content: '';
    right: 18px;
    top: .5px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 300px;
    height: fit-content;
    padding: 10px;
}

.content label{
    padding-top: 10px;    
}

.content input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 2px 0;
    border: none;
    background: #f1f1f1;
}

.content input:focus{
    outline: none;
}

.content span{
    font-size: 20px;
}

.content input[type='button'] {
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.content input[type='submit'] {
    background-color: rgb(47, 218, 84);
    font-size: 1rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.main{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    height: fit-content;
    gap: 20px;
    padding: 20px;
    white-space: pre-line;
}

.main > div{
    background-color: rgb(248, 250, 249);
    padding: 20px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.main div button{
    width: 100%;
    padding: 15px;
    margin: 5px 0 10px 0;
    border: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.footer {
    height: var(--footer);
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    word-spacing: 2px;
    letter-spacing: 1px;
    
}







